@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

html, body {
    font-display: swap;
    font-family: 'Noto Sans JP', sans-serif;
    background: linear-gradient(to left, rgba(7, 27, 82,1) 0%, rgba(0,128, 128,1) 100%);
}

